@keyframes pulse {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.6;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

.about {
	background-color: #0A2850;
	color: #fff;
	position: relative;
	box-sizing: border-box;
	background-size: cover;
	z-index: 0;
	min-height: 100%;
	overflow: hidden;
	padding: 0 0 80px;
}

.about__container {
	display: flex;
	justify-content: space-between;
}

.about__title {
	min-height: 150px;
	max-width: 300px;
	font-family: 'Inter',
		sans-serif,
		Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 52px;
	padding-top: 100px;
	padding-left: 80px;
	margin: 0;
}

.about__content {
	padding: 119px 80px 173px 0;
	max-width: 650px;
}

.about__paragraph {
	font-family: 'Noto Serif',
		'Times New Roman',
		Times,
		serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	padding-bottom: 20px;
}

.about__circle {
	display: inline-block;
	background-color: #2f80ed;
	width: 420px;
	height: 420px;
	border-radius: 50%;
	z-index: -1;
	position: absolute;
	top: -152px;
	left: -129px;
}

.about__circle_animation_blurred {
	animation: pulse 1.3s ease-in-out infinite;
}