.footer {
	background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
	color: #fff;
}

.footer__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 60px 100px 108px 80px;
}

.footer__logo {
	height: 32px;
	width: 153px;
	padding: 0 auto;
}

.footer__social-heading {
	padding: 0 auto;
	margin: 0 0 20px;
	font-family: 'Inter',
		sans-serif,
		Arial,
		sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

.footer__list {
	list-style-type: none;
}

.footer__list-item {
	padding-bottom: 16px;

}

.footer__social-icon {
	padding-right: 10px;
	margin: 0;
}

.footer__social-link {
	color: white;
	text-decoration: none;
	font-family: 'Inter',
		sans-serif,
		Arial,
		sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}

.footer__copyright {
	display: inline-block;
	padding: 0 0 60px 80px;
	margin: 0;
	font-family: 'Inter',
		sans-serif,
		Arial,
		sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}