.header {
	background-image: url('../images/background_header.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #fff;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	z-index: 0;
}

.header__title {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 0 28px 80px;
	font-weight: 500;
	font-size: 60px;
	line-height: 72px;
}

.header__span-accent {
	font-size: 60px;
	color: #2f80ed;
	font-style: italic;
	font-weight: normal;
}

.header__description {
	display: flex;
	flex-direction: column;
	margin: 28px 0 0 80px;
	font-family: 'Noto Serif',
		'Times New Roman',
		Times,
		serif;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	font-size: 20px;
	max-width: 670px;
}

.header__image {
	max-width: 646px;
	max-height: 568px;
	position: absolute;
	right: 5px;
	top: 124px;
	z-index: -1;
}

.header__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	margin-top: 300px;
	width: 100%;
	color: #838383;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	font-size: 16px;
}

.header__footer-type-hours {
	padding: 0 0 40px 80px;
	margin: 0;
}

.header__paragraph {
	margin: 0;
	list-style-type: none;
}

.header__paragraph-heading {
	margin: 0;
	padding-left: 80px;
}

.header__footer-type-address {
	padding: 0 80px 40px 0;
	margin: 0;
}