.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.nav__menu {
    margin: 30px 80px 0 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;


}

.nav__menu-item {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    transition: .4s ease-in;
}

.nav__menu-item:hover {
    color:
        #2F80ED;
}