.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.nav__menu {
    list-style-type: none;
    margin: 30px 80px 0 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;


}

.nav__menu-item {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform .4s ease-in;
}

.nav__menu-item:hover {
    color: #2f80ed;
    transform: scale(1.2);
}