.reservation {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #d9e7ff;
  z-index: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 120px;
}

.reservation__title {
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0;
  padding: 100px 0 80px 0;
}