.reservation {
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.reservation__title {
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 10px;
}

.reservation__form {
    margin: 0 auto;
    max-width: 500px;
    max-height: 700px;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    font-family: "Inter",
        sans-serif;
}

.form__fieldset {

    border: none;
}

.form__label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 32px;
}

.form__checkbox[for="remember-me"] {
    display: inline;
    margin-left: 12px;
    vertical-align: middle;
    font-weight: 400;
}

.form__input {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;

}

.form__input[type="text"],
.form__input[type="password"] {
    border-radius: 30px;
    min-width: 400px;
    min-height: 60px;
}

.form__input::placeholder {
    font-size: 16px;
    color: #8b8b8b;
}

.form__input[type="checkbox"] {
    border-radius: 4px;
    min-width: 28px;
    min-height: 28px;
    vertical-align: middle;
}

.form__button[type="submit"] {
    min-width: 117px;
    min-height: 60px;
    background: #2f71e5;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    border: none;
}

.form__input[type="text"]:focus,
.form__input[type="password"]:focus {
    outline-color: #2f71e5;
    outline-style: solid;
    outline-width: 1px;
}